my-n8n-app/workflow.json
[{"createdAt":"2024-06-06T15:32:23.997Z","updatedAt":"2024-06-06T15:32:23.997Z","id":"34TQE4iCGegx9NwG","name":"Arts","active":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"472f183b-e465-485f-ace6-3723aa163533","leftValue":"={{ $json.attributes.description }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"3569d60b-55f8-47f2-9734-672033568522","leftValue":"={{ $json.attributes.title }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"a10bbc5c-6bab-40c7-abb1-7040923804b1","leftValue":"={{ $json.attributes.artist }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e7ba807a-639f-4f4b-bbe4-921467fab780","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[760,180]},{"parameters":{"operation":"getAll","contentType":"=arts","returnAll":true,"options":{"sort":[]}},"name":"getData","type":"n8n-nodes-base.strapi","position":[580,180],"typeVersion":1,"id":"325e42ef-ad81-47a5-899e-ca5d400a38cc","credentials":{}},{"parameters":{"operation":"update","contentType":"={{$node[\"getData\"].parameter[\"contentType\"]}}","updateKey":"=id","columns":"=description"},"name":"UpdateData","type":"n8n-nodes-base.strapi","position":[1780,180],"typeVersion":1,"id":"d88e9251-fa8c-49a8-822b-40c863b5c8d0","credentials":{}},{"parameters":{"model":"mistralai/Mistral-7B-Instruct-v0.3","options":{}},"id":"ea96181d-d788-467d-9c6a-40eece183c71","name":"Hugging Face Inference Model","type":"@n8n/n8n-nodes-langchain.lmOpenHuggingFaceInference","typeVersion":1,"position":[1280,400],"credentials":{}},{"parameters":{"assignments":{"assignments":[{"id":"e65f7c13-8381-4340-9af5-3aa4b86bab7d","name":"id","value":"={{ $('Loop Over Items1').item.json.id }}","type":"number"},{"id":"766c1be8-0476-4577-90d3-33a6eafd6adf","name":"description","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"595c0b2c-b68f-4ae5-902f-b8986c100685","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1580,180]},{"parameters":{"batchSize":"={{ 1 }}","options":{"reset":false}},"id":"300c48d1-6d76-48d5-8607-48d8b396b9ce","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1000,160]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"74a63180-da09-4d44-a922-4e2b8c66bd9b","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1000,400]},{"parameters":{"path":"arts","responseMode":"responseNode","options":{}},"id":"1b8cad81-121e-474e-9af9-579d90eb6d62","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[360,180],"webhookId":"3af29f8a-f630-472f-b12b-d69f01014f84"},{"parameters":{"promptType":"define","text":"=génére une courte description sur l'oeuvre {{ $json.attributes.title }} de {{ $json.attributes.artist }} "},"id":"050d5c72-b1bb-495a-9443-703b4817837d","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1260,180]}],"connections":{"If":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"getData":{"main":[[{"node":"If","type":"main","index":0}]]},"UpdateData":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Hugging Face Inference Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"UpdateData","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"getData","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateId":"779","templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e13351b-ee86-4e58-b43b-31613c5b0dc4","triggerCount":1,"tags":[]}]